.page {
  margin: 42px auto 0;
  padding: 0;
  background-color: #101010;
  max-width: 1200px;
  font-family: "Inter", sans-serif;
  color: white;
}
@media screen and (max-width: 320px) {
    .page {
      margin: 39px auto 0;
      width: 100%;
      max-width: 320px;
    }
}