.page{
    margin: 42px auto 0;
    padding: 0;
    background-color: #101010;
    max-width: 1200px;
    font-family: "Inter", sans-serif;
    color: white;
}
h2{
    margin: 0;
    padding: 0;
}
p{
    margin: 0;
    padding: 0;
}
.header__line{
    margin: 43px 0 96px;
}
.profile{
    display: flex;
    align-items: center;
    max-height: 175px;
    justify-content: space-between;
}
.photo{
    margin-right: 36px;
}
.profile__info{
    max-height :175px; 
    display: flex;
    align-items: center;
    column-gap: 36px;
}
.profile__name{
    font-size: 40px;
    font-weight: 800;
    line-height: 160%;
    display: flex;
    align-items: center;
    column-gap: 21px;
}
.profile__job{
    font-size: 20px;
    font-weight: 800;
    line-height: 160%;
}
.profile__activity-btn{
    background-color: transparent;
    border: none;   
    cursor: pointer;
}
.profile__bio{
    display: flex;
    flex-direction: column;
}
.prodile__bio_string{
    display: flex;
    column-gap: 21px;
    align-items: center;
}
.profile__bio-btn{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.carts{
    display: flex;
    flex-wrap: wrap;
    gap: 43px 30px;
    color: black;
    margin-top: 96px;
}
.cart{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    position: relative;
}
.cart__texts{
    background-color: white;
    display: flex;
    column-gap: 158px;
    justify-content: space-between;
    align-items: center;
    padding: 43px 22px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.cart__title{
    font-size: 36px;
    font-weight: 800;
    line-height: 160%;
}
.cart__like-img{
    width: 34px;
    height: 34px;
}
.cart__main-img{
    padding: 0;
    margin: 0;
    display: block;
    position: relative;
}
.cart__like-btn{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.cart__delete-btn{
    position: absolute;
    border: none;
    background-color: transparent;
    cursor: pointer;
    top: 24px;
    left: 336px;
}
.footer__line{
    margin: 126px 0 64px;
}
.footer__logo-img{
    float: right;
}
.profile__bio-btn :hover{
    opacity: 60%;
    transition: 0.7s;
}
.profile__activity-btn :hover {
    opacity: 60%;
    transition: 0.7s;
}
.cart__delete-btn :hover{
    opacity: 60%;
    transition: 0.7s;
}
.cart__like-btn :hover{
    opacity: 60%;
    transition: 0.7s;
}