.cart__main-img{
    padding: 0;
    margin: 0;
    display: block;
    position: relative;
}
@media screen and (max-width: 320px) {
    .cart__main-img {
       width: 100%;
       max-width: 320px; 
    }
}