.profile__name{
    font-size: 40px;
    font-weight: 800;
    line-height: 160%;
}
@media screen and (max-width: 1024px) {
    .profile__name {
        width: 100%;
        width: 205px;
        font-size: 32px;
    }
}
@media screen and (max-width: 320px) {
    .profile__name {
        width: 100%;
        width: 205px;
        font-size: 32px;
    }
}