.footer__line{
    margin: 126px 0 64px;
}
@media screen and (max-width: 1024px) {
    .footer__line {
        margin: 91px 0 50px;
    }
}
@media screen and (max-width: 320px) {
    .footer__line {
        margin: 63px 0 17px;
    }
}