.profile__info{
    max-height :175px; 
    display: flex;
    align-items: center;
}
@media screen and (max-width: 1024px) {
    .profile__info {
        margin-right: 218px;
    }
}
@media screen and (max-width: 320px) {
    .profile__info {
        flex-wrap: wrap;
        justify-content: flex-start;
    }
}