.profile__avatar-img{
    margin-right: 36px;
}
@media screen and (max-width: 1024px) {
    .profile__avatar-img {
        margin-right: 34px;
    }
}
@media screen and (max-width: 320px) {
    .profile__avatar-img {
        width: 100%;
        max-width: 102px;
        margin-bottom: 18px;
    }
}